body {
    background: rgb(238, 234, 234);
}

.header {
    font-family: cursive;
    font-size: xx-large;
    display: flex;
    background-color: rgb(206, 137, 190);
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
    max-width: 400px;
}

.form label {
    font-family: cursive;
    font-weight: 700;
    width: 100%;
}

.form input {
    display: block;
    background-color: rgb(238, 221, 234);
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
}

input[type=submit] {
    border: none;
    background-color: pink;
    font-weight: 700;
    padding: 20px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(252, 167, 181);
}



label {
    display: block;
}